<div class="form-container">
  <h1>Add Post</h1>
  <hr />
  <%= form_with(model: @post, local: true, class: "ui form") do |form| %>

<div class="field">
  <%= form.label :symptom %>
  <%= form.text_area :symptom, placeholder: "Symptoms"%>
</div>

<div class="field">
  <%= form.label :dob %>
  <%= form.date_field :dob, required: true, placeholder: "D.O.B.", max: Date.today  %>
</div>

<div class="field">
  <%= form.label :weight %>
  <%= form.number_field :weight %>
</div>

<div class="field">
  <%= form.label :phone %>
  <%= form.text_field :phone, placeholder: "Phone" %>
</div>

<div class="field">
  <%= form.label :sex %>
  <%= form.select :sex, ["Male", "Female"], required: true %>
</div>

<div class="field">
  <%= form.label :remark %>
  <%= form.text_area :remark, placeholder: "Remark" %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>

<%= link_to 'Back', posts_path %>
