<h1><%= @post.patient.name%></h1>
<h2 class="ui center aligned blue header">Patient Information</h2>
<table class="ui definition table user-info selectable">
  <tr>
      <td>Symptom:</td>
      <td><%= @post.symptom %></td>
  </tr>
  <tr>
      <td>Age:</td>
      <td><%= @post.age %></td>
  </tr>
  <tr>
      <td>Date of Birth:</td>
      <td><%= @post.dob.strftime('%m / %d / %Y') %></td>
  </tr>
  <tr>
      <td>Weight:</td>
      <td><%= @post.weight %></td>
  </tr>
  <tr>
      <td>Sex:</td>
      <td><%= @post.sex %></td>
  </tr>
  <tr>
      <td>Phone:</td>
      <td><%= @post.phone %></td>
  </tr>
  <tr>
      <td>Remark:</td>
      <td><%= @post.remark %></td>
  </tr>

<% unless @post_id == current_doctor.id %>
<% if @appointment.present? %>
  <%= link_to 'Not an appointment', appointment_path(id: @appointment.id), method: :delete, class:'btn btn-danger' %>
<% else %>
  <%= link_to 'Add as an appointment', appointments_path(post_id: @post.id), method: :post, class:'btn btn-primary'%>
<% end %>
<% end %>

<%= link_to 'Back', posts_path , class:"ui button red inverted"%>
</table>
