<h1><%= @post.patient.name%></h1>
<h2 class="ui center aligned blue header">Patient Information</h2>
<table class="ui definition table user-info selectable">
  <tr>
      <td>Name:</td>
      <td><%= @post.patient.name %></td>
  </tr>
  <tr>
      <td>Symptom:</td>
      <td><%= @post.symptom %></td>
  </tr>
  <tr>
      <td>Age:</td>
      <td><%= @post.age %></td>
  </tr>
  <tr>
      <td>Date of Birth:</td>
      <td><%= @post.dob.strftime('%m / %d / %Y') %></td>
  </tr>
  <tr>
      <td>Weight:</td>
      <td><%= @post.weight %></td>
  </tr>
  <tr>
      <td>Sex:</td>
      <td><%= @post.sex %></td>
  </tr>
  <tr>
      <td>Phone:</td>
      <td><%= @post.phone %></td>
  </tr>
  <tr>
      <td>Remark:</td>
      <td><%= @post.remark %></td>
  </tr>

</table>
<br />
<br />

<h2 class="ui center aligned blue header"><%= @post.patient.name%> <%= @post.patient.name[-1] == 's' ? "'  Scheduled Appointments" : "\'s Scheduled Appointments"%></h2>

    <table class="ui table striped selectable">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
            <% @appointments.each_with_index do |appt,i| %>
                <tr>
                    <td><%= link_to appt.doctor.name, doctor_appointments_path(appt.doctor),class:"ui button basic" %></td>
                    <td><%= appt.date.strftime('%a, %b %d, %Y') %></td>
                    <td><%= appt.time.strftime("%l:%M %p") %></td>
                    <td><%= button_to 'Cancel', doctor_appointment_path(appt.doctor_id, appt.id), method: :delete, class:"ui button red inverted" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<%= link_to 'Add Appointment', new_appointment_path, class:"ui button blue inverted"%>
