<span class="doctor-show-header"><h1><%= @doctor %> Appointments</h1></span>

<%= link_to 'Back', posts_path, class:"ui button blue inverted" %>
<br />
<br />
<hr />


<table class="ui celled table">
  <thead>
    <th>Patient Name</th>
    <th>Patient Symptoms</th>
    <th>Patient Age</th>
    <th>Patient Date of Birth</th>
    <th>Patient Sex</th>
    <th>Patient Phone</th>
    <th>Patient Remarks</th>

  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.post.patient.name, class: "ui basic button"%></td>
        <td><%= appointment.post.symptom %></td>
        <td><%= appointment.post.age %></td>
        <td><%= appointment.post.dob %></td>
        <td><%= appointment.post.sex %></td>
        <td><%= appointment.post.phone %></td>
        <td><%= appointment.post.remark %></td>
        <td><%= link_to 'Appointment', appointment_doctors_path(appointment.id) %></td>
      </tr>
    <% end %>
  </tbody>

</table>
