<span class="doctor-show-header"><h1>doctor Appointments</h1></span>

<%= link_to 'New Appointment', new_appointment_path, class:"ui button blue inverted"%>

<br />
<br />
<hr />


<table class="ui celled table">
  <thead>
    <th>Name</th>
    <th>Symptoms</th>
    <th>Age</th>
    <th>Date of Birth</th>
    <th>Appointment Date</th>
    <th>Appointment Time</th>
    <th>Remove</th>
  </thead>
  <tbody>
    <% @appointments.each do |appt| %>
      <tr>
        <td><%= link_to appt.post.patient.name, class: "ui basic button"%></td>
        <td><%= appt.post.symptom %></td>
        <td><%= appt.post.age %></td>
        <td><%= appt.post.dob %></td>
        <td><%= appt.post.strftime('%a, %b %d, %Y') %></td>
        <td><%= appt.time.strftime("%l:%M %p")  %></td>
        <td><%= button_to 'Cancel', appointment_path(appt.doctor_id, appt.id), method: :delete, class:"ui button red inverted" %></td>
      </tr>
    <% end %>
  </tbody>

</table>
