<h2><%= 'Forgot your password' %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <%= image_tag("logo.png", :alt => "HelloDoc Logo") %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit 'Reset password instructions' %>
  </div>
<% end %>
