<h3><%= t('view.new_healthinterview') %></h3>

<%= form_with(model: @health_interview, local: true) do |f| %>

  <% if @health_interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= @health_interview.errors.count %>
        <%= t('activerecord.errors.announce') %>
      </h2>
      <ul>
        <% @health_interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @health_interviews.present? %>
    <div class="field">
      <%= f.label t('view.symptomatology') %><br>
      <%= f.text_area :symptomatology, placeholder: "来院目的をご記入ください。" %>
    </div>

    <div class="field">
      <%= f.label t('view.condition') %><br>
      <%= f.text_area :condition, placeholder: "特記事項はこちらにご記入ください。" %>
    </div>
  <% end %>

  <% if @health_interviews.present? %>
    <div class="field">
      <%= f.label t('view.comment') %><br>
      <%= f.text_area :comment, placeholder: "気になる点等ございましたらご記入ください。" %>
    </div>
  <% end %>

  <%= f.fields_for :guide_status do |s| %>
    <%= s.hidden_field :status, value: "initial"  %>
  <% end %>

  <div class="field">
    <%= f.submit t('view.apply')%>
  </div>
<% end %>

<%= link_to t('view.back'), health_interviews_path %>