<div class="d-flex flex-column justify-content-center align-items-center">
  <h3><%= @health_interview.patient.name + t('view.history') %></h3>

  <div class="patienthistory">
    <ul>
      <h4><%= t('view.symptomatology') %></h4>
      <li><%= @patient.health_interviews.first.symptomatology %></li>

      <h4><%= t('view.condition') %></h4>
      <li><%= @patient.health_interviews.first.condition %></li>

      <h4><%= t('view.comment') %></h4>
      <% if @health_interview.comment.present? %>
        <% @patient.health_interviews.each do |hi| %>
          <% if hi.comment.present? %>
            <li><%= hi.comment  %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>