<!DOCTYPE html>
<html>
  <head>
    <title>Hello Doctor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('favicon-heartbeat.ico'), :rel => 'icon', :type =>  'image/ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
    <div class="d-flex flex-row">
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><li><big><i><%= link_to 'Hello Doctor', root_path %></i></big></li></div>
      </div>

      <% if patient_signed_in? || doctor_signed_in? %>
        <% if patient_signed_in? %>
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight"><li><%= link_to 'My page', patient_path(current_patient.id) %></li></div>
            <div class="p-2 bd-highlight"><li><%= link_to 'Post Informations', posts_path %></li></div>
          </div>
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight"><li><%= link_to 'Sign out', destroy_patient_session_path, method: :delete %></li></div>
          </div>
        <% else %>
          <% if current_doctor.admin? %>
            <div class="d-flex flex-row bd-highlight mb-3">
              <div class="p-2 bd-highlight"><li><%= link_to 'Patient Informations', patients_path %></li></div>
              <div class="p-2 bd-highlight"><li><%= link_to 'Doctor Informations', doctors_path %></li></div>
              <div class="p-2 bd-highlight"><li><%= link_to 'Appointment Informations', appointments_path %></li></div>
              <div class="p-2 bd-highlight"><li><%= link_to 'Post Informations', posts_path %></li></div>
              <div class="p-2 bd-highlight"><li><%= link_to 'Comments Informations', comments_path %></li></div>
            </div>
          <% end %>
            <div class="d-flex flex-row-reverse bd-highlight">
              <div class="p-2 bd-highlight"><li><%= link_to 'Sign out', destroy_doctor_session_path, method: :delete %></li></div>
            </div>
        <% end %>
      <% else %>
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight"><li><%= link_to 'Sign in', new_patient_session_path %></li></div>
          <div class="p-2 bd-highlight"><li><%= link_to 'Sign up', new_patient_registration_path %></li></div>
        </div>
      <% end %>
    </div>
    </header>
    <div class="inline"></div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="main_content">
    <%= yield %>
    </div>

    <footer>
      <p>© 2021 Hello Doctor</p>
    </footer>
  </body>
</html>
